//
   Created by cristobal on 04/07/14.


extends ../layout

block content
    link(rel='stylesheet', href='/css/form-bootstrap.css')
    include ../navbar

    .container
        form#categoria.form-horizontal(method='POST', role='form')
            fieldset
                legend.text-muted #{titulo}
                input(name='_id', type='hidden', value='#{categoria._id}')
                .form-group
                    .input-group
                        span.input-group-addon
                            label(for='nombre') Nombre
                        input#codigo.form-control(type='text',name='nombre', placeholder='Nombre de la Categoria', value='#{categoria.nombre}')
                .form-group
                    .input-group
                        span.input-group-addon
                            label(for='descripcion') Descripción
                        textarea#descripcion.form-control( rows="3", name='descripcion', placeholder='Descripción') #{categoria.descripcion}
                .form-group
                    .input-group
                        span.input-group-addon
                            input#activo(type="checkbox", name="activo", checked=categoria.activo)
                        input.form-control(type="text", readonly="true", value="Activo")
                .form-group
                    button.btn.btn-lg.btn-success.btn-inline(type="submit") #{btn}
                    if del
                        a.btn.btn-danger.btn-lg.btn-inline(href="/categoria/#{categoria._id}/delete") Eliminar


block scripts
    script(src='/vendor/jquery.form.min.js')
    script(src='/js/views/categoria.js')
    script(src='/js/controllers/CategoriaController.js')