//
   Created by cristobal on 05/02/14.


extends ../layout

block content
    link(rel='stylesheet', href='/css/form-bootstrap.css')
    include ../navbar

    .container
        h1 #{titulo}
        table.table
            thead
                tr
                    th #
                    th Codigo
                    th Descripcion
                    th Inventario
                    th
                    th
            tbody
                each producto, i in productos
                    tr
                        td #{(i+1)}
                        td #{producto.codigo}
                        td #{producto.descripcion}
                        td #{producto.inventario}
                        td
                            a.btn.btn-primary(href="./producto/#{producto._id}") Editar
                        td
                            a.btn.btn-danger(href="#") Eliminar

